header .nav{
    background-color: tomato;
    padding: 8px;
}
nav > ul{
    display: flex;
 
}
nav > ul > li{
    padding: 5px;
    list-style-type: none;
    position: relative;
    left: 35%;
    transform: translate(-35%);
    
}
nav > ul > li > a{
    text-decoration: none;
    font-size: 1.4rem;
}
 nav li:hover{
    background-color: green;
}
   


footer{
    text-align: center;
    margin-top:35px ;
}

article > figure >img{
    width: 100%;
    height: 350px;
}

article > figure > figcaption{
    text-align: center;
}

footer > P {
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
  }
  